<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1.家庭作业.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2.Block的基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>5.使用block实现简单协议代理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6.block实现代理回馈.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>7.Block在排序算法中的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Block作为参数传递.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Typedefine在block中的应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCD944AE1BCEB6DA0000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD944C61BCEC62C0000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD944D11BCED2640000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD944DF1BCF075A0000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD944ED1BCF174B0000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD944FE1BCF1D650000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD9450F1BCF24E20000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
