<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1.家庭作业.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2.NSURL初步认识.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>4.建立数据模型存储JSON数据.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5.练习数据建模.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6.自定义对象的归档与解档.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>简单的JSon解析.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCD943FF1BCC16490000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD944171BCC23F80000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD944221BCC38A10000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD9442D1BCC65AD0000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD9443E1BCC76A30000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD9444F1BCC7C710000655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
