<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>laoda</key>
	<string>liubei</string>
	<key>laoer</key>
	<string>guanyu</string>
	<key>laosan</key>
	<string>zhangfei</string>
</dict>
</plist>
