<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1.家庭作业.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>10.autorelease与autoreleasepool区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>2.C中的内存管理的弊端.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>4.MRC模式的简单使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5.retain的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6.MRC在复合类中的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>7,字符串的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ARC的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Copy与MutableCopy的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>数组的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCD6225C1BC6D0BE0024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6226A1BC6DA3D0024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD622751BC6E9BF0024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD622831BC6ECC40024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD622911BC6F2490024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6229F1BC713890024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD622B01BC723FB0024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD622BE1BC731530024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD622C91BC736FB0024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD622D71BC73E4E0024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
