<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1.家庭作业.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>10.匿名类别的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>2.继承的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3.继承的特性练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4.重写练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5.多态练习1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>6.多态练习2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>7.类别－字符串扩展逆序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>8.类别－练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>9.继承类的扩展.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>多态的应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCD620D11BBAF2F00024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD620E51BBAF7670024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD620F61BBB0A6A0024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6210B1BBB13140024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6211F1BBB355F0024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD621331BBB41870024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6214A1BBB50A70024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD621611BBB55C40024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6216F1BBB5D220024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6217D1BBB5F200024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD621911BBB61C70024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
