<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1.回顾类和对象.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2.卡车类的构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3.马的self应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4.明星类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5.OC字符串的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>6.字符串常用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>7.可变字符串的操作.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>OC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>字符串常用的方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC00305C1BB30B9F0093BFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC00306D1BB323620093BFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC00307B1BB32B4D0093BFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB70EB91BB34BD50012CD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB70EC71BB354930012CD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB70ED21BB354C80012CD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB70EDD1BB369580012CD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB70EE81BB369800012CD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB70EF31BB381160012CD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
