<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1.家庭作业.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>11.自定义对象的拷贝.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>2.狗叫的协议.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>4.单向代理卖酒.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5.洗衣服单向代理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6.找房子的代理回馈.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>7.工人干活的代理回馈.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>8.双向代理画画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>9.双向代理另一种方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>取钱协议.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>回顾字符串的拷贝.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCD622EA1BC81F980024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD622FE1BC826760024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6230D1BC836FF0024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6231C1BC83BE70024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD623311BC863840024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD623431BC866870024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD623551BC86E550024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD623671BC87C250024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6237A1BC8836F0024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6238C1BC88BB00024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD623971BC892440024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
