<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1.家庭作业.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2.可变字符串的操作.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>4.数组的创建方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5.数组的常用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6.可变数组的常用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Description的用法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCB70F031BB45A520012CD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB70F171BB462D20012CD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB70F221BB470A50012CD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB70F301BB477680012CD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB70F3E1BB4A1D80012CD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB70F4C1BB4B6C20012CD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
