<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1.家庭作业.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2.回顾get/set方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3.点语法的联系.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>4.Property练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>5.学生管理系统.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>6.网站管理系统.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCD6206F1BB9A1D50024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD620801BB9B65F0024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6208E1BB9C0180024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD6209C1BB9E3720024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD620AA1BB9F2050024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD620BB1BBA0EB70024A529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
